.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
.container{
   text-align: center;
    background: #EEEEEE;
    height: 70px;
    margin-left: 60px;
    width: 1300px;
}
.bottom1{
    background:#7EE5DA;
    text-align:center;
    width: 479px;
    float: left;
    font-size: 16px;
    margin-right: 2px;
    height: 75px;
}
.bottom2{
    background:#70CCC2;
    text-align: center;
    width: 298px;
    float: left;
    font-size: 14px;
    margin-right: 1px;
    height: 75px;
}
.bottom3{
    background:#62B3AA;
    text-align: center;
    width: 518px;
    float: left;
    font-size: 14px;
    margin-left: 2px;
    height: 75px;

}
.aa{
    margin-left: 60px;
    width: 1300px;
    position: absolute;
    margin-top: 4px;
}
footer{
    width: 200px;
    height: 30px;
    position: absolute;
    top: 300px;
    margin-left: 660px;
    font-size: 12px;